{% extends 'blog/base.html' %}
{% load comments_extras %}

{% block main %}
    <main class="col-md-12">
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">{{ post.title }}</h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><i class="fas fa-clock" style="color: #003F72"></i><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ post.created_time.date }}</time></a></span>
                    <span class="post-author"><a href="#"><i class="fas fa-marker" style="color: #0f140f"></i>{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#comment-area">
                        <i class="fas fa-comments" style="color: #00BB00"></i>
                        {{ post.comment_set.count }}
                        {% if post.comment_set.count > 1 %}
                            comments
                        {% else %}
                            comment
                        {% endif %}</a></span>
                    <span class="views-count">
                        <i class="fas fa-eye" style="color: deepskyblue"></i>
                        <a href="{{ post.get_absolute_url }}"> {{ post.views }}</a>
                    </span>
                </div>
            </header>
            <div class="entry-content clearfix">
                {{ post.body|safe }}
            </div>
        </article>
        <section class="comment-area" id="comment-area">
            <hr>
            <h3>Comments</h3>
            {% show_comment_form post %}
            <div class="comment-list-panel">
                {% show_comments post %}
            </div>
        </section>
    </main>

{% endblock main %}

{% block toc %}
    {% if post.toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">Table of Contents</h3>
        <div class="toc">
            <ul>
                {{ post.toc | safe }}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock toc %}
