<!DOCTYPE html>
<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href = "{% static "tinymce/css/prism.css" %}" rel="stylesheet">

    <!-- Compiled and manified CSS -->
    <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" -->
    <link rel="stylesheet" href="{% static "/main/css/materialize.css" %}" >
    <!-- Compiled and manified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="https://discord.gg/sentdex">Community</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </nav>

  <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li><a href="/">Home</a></li>
      <li><a href="https://discord.gg/sentdex">Community</a> </li>
      {% if user.is_authenticated %}
        <li><a href="/account">{{ user.username|title }}</a> </li>
        <li><a href="/logout">Logout</a></li>
      {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a> </li>
      {% endif %}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>

  </ul>

  {%  if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script>M.toast({html: "{{ message }}", classes: 'green rounded', displayLength:2000});</script>
        {% elif message.tags == 'info' %}
            <script>M.toast({html: "{{ message }}", classes: 'blue rounded', displayLength:2000});</script>
        {% elif message.tags == 'warning' %}
            <script>M.toast({html: "{{ message }}", classes: 'orange rounded', displayLength:10000});</script>
        {% elif message.tags == 'error' %}
            <script>M.toast({html: "{{ message }}", classes: 'red rounded', displayLength:10000});</script>
        {% endif %}
    {% endfor %}
  {% endif %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>

<!-- Prism JS-->
<script  src="{% static "tinymce/js/prism.js" %}"></script>
