<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    {% load static %}
    <!-- Prism CSS -->
    <link href = "{% static "tinymce/css/prism.css" %}" rel="stylesheet">


    <!-- Compiled and manified CSS -->
    <link rel="stylesheet" href="{% static "/main/css/materialize.css" %}" >
    <link rel="stylesheet" href="{%  static "/main/css/styles.css"%}" >

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special Elite">


    <!-- Compiled and manified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>




</head>


<body>
    <nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="font-family: Special Elite">&nbsp; Yuxin Zhao</a>
      <div class="right android-navigation">
       <ul id="nav-mobile" class="right hide-on-med-and-down">
       {% include 'main/includes/navbaritems.html' %}
       </ul>
      </div>
    </div>
  </nav>


  {% include 'main/includes/messaging.html' %}


  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>

<!-- Prism JS-->
<script  src="{% static "tinymce/js/prism.js" %}"></script>
{#<script>M.AutoInit();</script>#}

